# Telegram Bot Token (@BotFather dan olinadi)
BOT_TOKEN=7691823456:AAExampleTokenHere

# Admin Telegram ID raqamlari (vergul bilan ajratilgan, masalan: 12345678,87654321)
ADMINS=

# FFmpeg papkasi yo'li (agar tizim PATH da bo'lmasa)
FFMPEG_PATH=E:\Botlarim\ffmpeg-2026-06-01-git-bf608f16fd-essentials_build\bin

# Majburiy obuna kanallari (ixtiyoriy, masalan: @kanal_useri yoki -100123456789)
CHANNELS=
